.section-causes {
  background: #fff;
  padding-top: 64px;
  padding-bottom: 74px;

  @include below(lg) {
    padding-top: 32px;
    padding-bottom: 44px;
  }
  @include below(md) {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}

.section-causes__container {
}

.section-causes__title {
  color: #070707;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  letter-spacing: 0.02em;

  @include below(lg) {
    font-size: 24px;
    letter-spacing: normal;
    margin-bottom: 30px;
  }
  @include below(md) {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 16px;
  }
}

.section-causes__items {
  display: flex;
  gap: 120px;

  @include below(xl) {
    gap: 30px;
  }
  @include below(md) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}

.section-causes__item {
  flex-basis: 100%;
  flex-grow: 1;
  
  @include below(md) {
    width: 270px;
  }
}

.causes-item {
}

.causes-item__image {
  display: flex;
  width: 200px;
  height: 200px;
  margin: 0 auto 14px;
  align-items: center;
  justify-content: center;
  position: relative;

  @include below(lg) {
    width: 120px;
    height: 120px;
    margin-bottom: 18px;
  }
  @include below(md) {
    width: 100px;
    height: 100px;
    margin-bottom: 12px;
  }
}

.causes-item__image img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: none;
}

.section-causes__item:nth-child(1) .causes-item__image img {
  width: 106px;
  height: 143px;

  @include below(lg) {
    width: 72px;
    height: auto;
  }
}

.section-causes__item:nth-child(2) .causes-item__image img {
  width: 139px;
  height: 139px;

  @include below(lg) {
    width: 94px;
    height: auto;
  }
}

.section-causes__item:nth-child(3) .causes-item__image img {
  width: 179px;
  height: 151px;

  @include below(lg) {
    width: 116px;
    height: auto;
  }
}

.section-causes__item:nth-child(3) .causes-item__image {

  @include below(md) {
    margin-bottom: 0;
  }
}

.causes-item__title {
  color: #070707;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  @include below(xl) {
    font-size: 16px;
  }
  @include below(lg) {
    font-size: 12px;
    line-height: 16px;
  }
  @include below(md) {
    font-size: 16px;
    line-height: 18px;
  }
}
