.section-completion {
  padding: 64px 0;
  min-height: 100vh;

  @include below(md) {
    padding: 48px 0;
  }
}

.section-completion__text-first {
  text-align: center;
  font-size: 28px;
  line-height: 1.25;
  margin-bottom: 24px;
  font-weight: 500;
  text-transform: uppercase;

  @include below(md) {
    margin-bottom: 12px;
    font-size: 18px;
  }
}

.section-completion__text-second {
  text-align: center;
  font-size: 32px;
  line-height: 1.25;
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  font-weight: 500;

  @include below(md) {
    font-size: 18px;
  }
}

.section-completion__text-second span {
  color: #ed393a;
  text-transform: uppercase;
  font-weight: 500;

  @include below(md) {
    display: block;
  }
}

.section-completion__text-third {
  margin-top: 16px;
  text-align: center;
  font-size: 28px;
  line-height: 1.25;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  font-weight: 500;

  @include below(md) {
    margin-top: 12px;
    font-size: 18px;
  }
}

.section-completion__layout {
  display: flex;
  margin-top: 48px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;

  @include below(md) {
    flex-wrap: wrap;
    margin-top: 24px;
  }
}

.section-completion__layout__mockup {
  width: 60%;

  @include below(md) {
    width: calc(100% + 80px);
    order: 1;
    margin-top: 32px;
    margin-left: -40px;
    margin-right: -40px;
  }
}

.section-completion__layout__social {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  @include below(md) {
    width: 100%;
  }
}

.section-completion__layout__social::before {
  content: '';
  background: url('../images/arrows.png') no-repeat 50% 50%;
  background-size: cover;
  display: block;
  margin: 24px auto 24px;
  width: calc(341px * 0.5);
  height: calc(325px * 0.5);
  flex-shrink: 0;
  display: block;

  @include below(md) {
    width: calc(341px * 0.3);
    height: calc(325px * 0.3);
    margin: 8px auto 8px;
  }
}

.section-completion__mockup {
  filter: drop-shadow(8px 12px 16px rgba(0, 0, 0, 0.25));
  display: flex;
  width: 580px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.section-completion__telegram {
  background: #37aee2;
  box-shadow: 0px 20px 40px rgba(101, 101, 101, 0.3);
  font-size: 18px;
  border-radius: 12px;
  line-height: 1;
  min-height: 48px;
  padding: 8px 32px;
  font-family: inherit;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s;
  width: 180px;
  justify-content: center;

  * + & {
    margin-top: 12px;
  }
}

.section-completion__telegram img {
  margin-left: -6px;
}

.section-completion__telegram:hover {
  transform: translateY(-5px);
}

.section-completion__vk {
  background: #07f;
  background: #3d6388;
  box-shadow: 0px 20px 40px rgba(101, 101, 101, 0.3);
  font-size: 18px;
  border-radius: 12px;
  line-height: 1;
  min-height: 48px;
  padding: 8px 32px;
  font-family: inherit;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s;
  width: 180px;
  justify-content: center;

  * + & {
    margin-top: 12px;
  }
}

.section-completion__vk svg {
  margin-left: -6px;
}

.section-completion__vk:hover {
  transform: translateY(-5px);
}
