@import 'responsive';

.section-faq {
  background: #ffffff;
  padding-top: 80px;
  padding-bottom: 80px;
  @include below(md) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.section-faq__title {
  color: #000000;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.02em;
  @include below(md) {
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    letter-spacing: 0;
  }
  span {
    position: relative;
    display: block;
  }
}
.section-faq__body {
  max-width: 760px;
  margin: 60px auto 0;
  @include below(md) {
    margin-top: 30px;
  }
}
.section-faq__button {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  @include below(md) {
    margin-top: 30px;
  }
  .ui-button-primary {
    width: 304px;
    max-width: 100%;
    @include below(lg) {
      width: 288px;
    }
  }
}
.accordion-row {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-top: -1px;
}
.accordion-row__header {
  color: #000000;
  font-size: 20px;
  line-height: 1.25;
  padding: 25px 50px 25px 0;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  @include below(md) {
    font-size: 18px;
  }
  &:hover::before {
    background: #e8e8e8;
  }
  &._active::after {
    transform: rotate(45deg);
  }
  &::before {
    content: '';
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background .3s ease;
  }
  &::after {
    content: '';
    position: absolute;
    right: 24px;
    top: 50%;
    width: 2px;
    height: 2px;
    margin-top: -1px;
    transition: transform .3s ease;
    color: #000000;
    background: #000000;
    box-shadow: 2px 0 0, 4px 0 0, 6px 0 0, 8px 0 0, 10px 0 0, -2px 0 0, -4px 0 0, -6px 0 0, -8px 0 0, -10px 0 0, 0 2px 0, 0 4px 0, 0 6px 0, 0 8px 0, 0 10px 0, 0 -2px 0, 0 -4px 0, 0 -6px 0, 0 -8px 0, 0 -10px 0;
  }
}
.accordion-row__content {
  font-size: 18px;
  overflow: hidden;
  max-height: 0;
  transition: max-height .5s ease;
  &::after {
    content: '';
    display: block;
  }
  @include below(md) {
    font-size: 16px;
  }
}
