.keys-diagram {
  width: 100%;
  max-width: 416px;
  background: url("../images/intro-diagram.png") no-repeat 50% 50%;
  position: relative;
  background-size: cover;

  // @media (max-width: 1279px) {
  //   margin: 0 auto;
  // }

  @include below(xl) {
    max-width: 320px;
  }
  @include below(lg) {
    max-width: 280px;
  }
  @include below(md) {
    max-width: 210px;
  }
}

.keys-diagram::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.keys-diagram__item {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  text-transform: uppercase;
  position: absolute;
  text-align: center;

  @include below(xl) {
    font-size: 10px;
  }
  @include below(lg) {
    font-size: 9px;
  }
  @include below(md) {
    font-size: 6px;
  }
}

.keys-diagram__item:nth-child(1) {
  left: 50%;
  bottom: 101%;
  transform: translateX(-50%);
}

.keys-diagram__item:nth-child(2) {
  left: 87.5%;
  bottom: 85.5%;
}

.keys-diagram__item:nth-child(3) {
  left: 101%;
  top: 50%;
  transform: translateY(-50%);
}

.keys-diagram__item:nth-child(4) {
  left: 87.5%;
  top: 85.5%;
}

.keys-diagram__item:nth-child(5) {
  left: 50%;
  top: 101%;
  transform: translateX(-50%);
}

.keys-diagram__item:nth-child(6) {
  right: 87.5%;
  top: 85.5%;
}

.keys-diagram__item:nth-child(7) {
  right: 101%;
  top: 50%;
  transform: translateY(-50%);
}

.keys-diagram__item:nth-child(8) {
  right: 87.5%;
  bottom: 85.5%;
}

.section-keys {
  background: #000001 url("../images/bg-keys.jpg") no-repeat 50% 0;
  padding-top: 48px;
  padding-bottom: 44px;

  @include below(lg) {
    padding-top: 32px;
    padding-bottom: 30px;
    background-image: url('../images/bg-keys-tablet.jpg');
  }
  @include below(md) {
    padding-top: 24px;
    padding-bottom: 34px;
    background-image: url('../images/bg-keys-mobile.jpg');
  }
}

.section-keys__container {
}

.section-keys__text-first {
  text-shadow: 7px 3px 9px rgba(0, 0, 0, 0.34);
  color: #ffffff;
  font-size: 48px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -0.6px;
  text-align: center;
  width: 640px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;

  @include below(lg) {
    font-size: 30px;
    letter-spacing: -0.04em;
    width: 100%;
  }
  @include below(md) {
    font-size: 24px;
    line-height: 30px;
  }
}

.section-keys__text-second {
  text-shadow: 7px 3px 9px rgba(0, 0, 0, 0.34);
  color: #e0c48f;
  font-size: 36px;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 20px;
  width: 440px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;

  @include below(lg) {
    font-size: 30px;
  }
  @include below(md) {
    font-size: 18px;
    line-height: 30px;
    margin-top: 0;
  }
}

.section-keys__text-third {
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  padding: 16px;
  margin-top: 30px;
  width: 760px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;

  @include below(lg) {
    margin-top: 20px;
    font-size: 24px;
    line-height: 1.3;
    padding: 10px;
    letter-spacing: 0.025em;
  }
  @include below(md) {
    font-size: 18px;
    line-height: 24px;
    margin-top: 10px;
    padding: 6px;
  }
}

.section-keys__text-third__break-first {
  @media (max-width: #{$breakpoint-lg - 1}) and (min-width: $breakpoint-xl) {
    display: none;
  }
}

.section-keys__layout {
  display: flex;
  margin-top: 68px;

  @include below(lg) {
    margin-top: 40px;
  }
  @include below(md) {
    flex-wrap: wrap;
    margin-top: 28px;
  }
}

.section-keys__layout__diagram {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 36px 0;
  padding-right: 40px;
  align-items: flex-start;

  @include below(lg) {
    width: 59%;
    padding-right: 32px;
  }
  @include below(md) {
    width: 100%;
    padding-right: 0;
    padding: 0;
  }
}

.section-keys__layout__list {
  width: 50%;

  @include below(lg) {
    width: 41%;
  }
  @include below(md) {
    width: 100%;
    margin-top: 32px;
  }
}

.section-keys__list {
}

.section-keys__list__title {
  text-shadow: 7px 3px 7px rgba(0, 0, 0, 0.46);
  color: #e0c48f;
  font-size: 24px;
  line-height: 1.55;
  text-transform: uppercase;
  margin-bottom: 52px;

  @include below(lg) {
    font-size: 18px;
    line-height: 1.75;
    margin-bottom: 32px;
  }
  @include below(md) {
    text-align: center;
    margin-bottom: 24px;
  }
}

.section-keys__list__items {
}

.section-keys__list__item {
  display: flex;
  align-items: center;
  min-height: 48px;

  @include below(lg) {
    min-height: 36px;
  }
}

.section-keys__list__item:nth-child(1) .section-keys__list__item__image img {
  margin: -7px 0 0 -1px;

  @include below(lg) {
    width: 48px;
    height: 65px;
    margin: 0px 0 0 -3px;
  }
}

.section-keys__list__item:nth-child(2) .section-keys__list__item__image img {
  margin: -13px 0 0 -9px;

  @include below(lg) {
    width: 60px;
    height: 76px;
    margin: -12px 0 0 -9px;
  }
}

.section-keys__list__item:nth-child(3) .section-keys__list__item__image img {
  margin: 2px 0 0 0px;

  @include below(lg) {
    width: 78px;
    height: 59px;
    margin: -7px 0 0 -3px;
  }
}

.section-keys__list__item + .section-keys__list__item {
  margin-top: 58px;

  @include below(lg) {
    margin-top: 42px;
  }
  @include below(md) {
    margin-top: 38px;
  }
}

.section-keys__list__item__image {
  width: 100px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  margin-right: 20px;
  position: relative;

  @include below(lg) {
    width: 80px;
    margin-right: 10px;
  }
}

.section-keys__list__item__image img {
  width: auto;
  height: auto;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  max-width: none;
}

.section-keys__list__item__title {
  color: #ffffff;
  font-size: 20px;
  line-height: 24px;
  flex-grow: 1;

  @include below(lg) {
    font-size: 16px;
    line-height: 18px;
  }
}

.section-keys__list__desc {
  color: #ffffff;
  font-size: 24px;
  line-height: 1.55;
  text-transform: uppercase;
  margin-top: 68px;
  width: 580px;
  max-width: 100%;

  span {
    color: #e0c48f;
  }

  @include below(lg) {
    font-size: 18px;
    line-height: 1.75;
    margin-top: 28px;
  }
  @include below(md) {
    text-align: center;
    line-height: 24px;
    width: 100%;
  }
}

.section-keys__text-four {
  text-shadow: 7px 3px 7px rgba(0, 0, 0, 0.46);
  color: #e0c48f;
  font-size: 24px;
  line-height: 1.55;
  text-align: center;
  text-transform: uppercase;
  margin-top: 48px;

  @include below(lg) {
    font-size: 18px;
    line-height: 1.75;
    margin-top: 16px;
    letter-spacing: 0.025em;
  }
  @include below(md) {
    margin-top: 20px;
    line-height: 24px;
  }
}
