.section-schedule
  background: #fcfbf9 url('../images/section-schedule-bg-large.jpg') no-repeat 50% 0
  padding-top: 66px
  padding-bottom: 69px
  background-size: 2000px 985px
  +below(xl)
    padding-top: calc(66px * 0.8)
    padding-bottom: calc(69px * 0.8)
    background-size: calc(2000px * 0.8) calc(985px * 0.8)
  +below(lg)
    padding-top: 68px
    padding-bottom: 36px
    background-image: url('../images/section-schedule-bg-medium.jpg')
  +below(md)
    padding-top: 32px
    padding-bottom: 20px
    background-image: url('../images/section-schedule-bg-small.jpg')

.section-schedule__title
  font-size: 48px
  text-align: center
  letter-spacing: 0.02em
  font-weight: 500
  text-transform: uppercase
  line-height: 1
  color: #000
  margin-bottom: 45px
  +below(xl)
    font-size: calc(48px * 0.8)
    margin-bottom: calc(45px * 0.8)
  +below(lg)
    font-size: 36px
    margin-bottom: 50px
  +below(md)
    font-size: 24px
    margin-bottom: 24px
    font-weight: 500
    letter-spacing: 0

.section-schedule__days
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  margin-top: 44px
  margin-bottom: 44px
  +below(xl)
    margin-top: calc(44px * 0.8)
    margin-bottom: calc(44px * 0.8)
  +below(lg)
    margin-top: 30px
    margin-bottom: 30px
  +below(md)
    flex-wrap: wrap
    flex-direction: column
    margin-top: 24px
    margin-bottom: 24px

.section-schedule__days-grid
  display: grid
  grid-template-columns: auto auto auto auto
  row-gap: 10px
  column-gap: 20px
  +below(md)
    grid-template-columns: auto auto

.section-schedule__days-cell
  position: relative
  +above(md)
    &:nth-child(4n-3)::before
      display: none
  +below(md)
    &:nth-child(2n-1)::before
      display: none

.section-schedule__days-cell::before
  content: ''
  width: 8px
  height: 4px
  background: #000
  position: absolute
  left: -10px
  top: 50%
  margin-top: -2px
  border-radius: 0px
  transform: translateX(-50%)

.section-schedule__days-value
  font-size: 30px
  text-align: center
  letter-spacing: 0.02em
  font-weight: 500
  text-transform: uppercase
  line-height: 60px
  padding: 0 16px
  color: #000
  background: #a1c1d3
  border-radius: 30px
  white-space: nowrap
  flex: 1 1 0px
  +below(xl)
    font-size: calc(30px * 0.8)
    border-radius: calc(30px * 0.8)
    line-height: calc(60px * 0.8)
    padding: 0 calc(16px * 0.8)
  +below(lg)
    font-size: 20px
    line-height: 44px
    border-radius: 22px
  +below(md)
    font-size: 16px
    line-height: 40px
    border-radius: 20px
    padding: 0 10px

.section-schedule__days-value.highlight
  background: #fcb44e
  position: relative

.section-schedule__days-value.highlight::before
  content: "Профи"
  text-transform: uppercase
  position: absolute
  right: 6px
  top: -6px
  font-size: 13px
  line-height: 20px
  color: #fff
  background: #ba523a
  padding: 0px 8px
  border-radius: 10px
  +below(xl)
    padding: 0 calc(8px * 0.8)
    border-radius: calc(10px * 0.8)
    right: calc(6px * 0.8)
    top: calc(-6px * 0.8)
    font-size: calc(13px * 0.8)
    line-height: calc(20px * 0.8)
  +below(lg)
    right: 5px
    top: -5px
    font-size: 10px
    line-height: 16px
    padding: 0px 6px
    border-radius: 8px
  +below(md)
    right: 4px
    top: -4px
    font-size: 9px
    line-height: 14px
    padding: 0px 6px
    border-radius: 7px
// .section-schedule__days-br
//   display: block
//   width: 100%
//   height: 8px

// .section-schedule__days-value:nth-last-child(9),
// .section-schedule__days-value:nth-last-child(9) ~ .section-schedule__days-value
//   font-size: 28px
//   +below(xl)
//     font-size: calc(28px * 0.8)
//   +below(lg)
//     font-size: 18px
//   +below(md)
//     font-size: 22px

// .section-schedule__days-value:nth-last-child(11),
// .section-schedule__days-value:nth-last-child(11) ~ .section-schedule__days-value
//   font-size: 22px
//   font-weight: 700
//   +below(xl)
//     font-size: calc(22px * 0.8)
//   +below(lg)
//     font-size: 14px
//   +below(md)
//     font-size: 22px

.section-schedule__days-dash
  font-size: 26px // 36px
  font-weight: bold
  margin: 0 8px
  color: #000
  line-height: 1
  +below(xl)
    font-size: calc(26px * 0.8)
    margin: 0 calc(8px * 0.8)
  +below(lg)
    font-size: 16px // 20px
    margin: 0 6px

.section-schedule__date
  margin-top: 44px
  margin-bottom: 27px
  +below(xl)
    margin-top: calc(44px * 0.8)
    margin-bottom: calc(27px * 0.8)
  +below(lg)
    margin-top: 30px
    margin-bottom: 30px
  +below(md)
    margin-top: 24px
    margin-bottom: 24px
  &::after
    background: #a1c1d3
    content: ''
    display: block
    height: 10px
    margin: 28px auto 0
    width: 104px
    +below(xl)
      height: calc(10px * 0.8)
      margin: calc(28px * 0.8) auto 0
      width: calc(104px * 0.8)
    +below(lg)
      height: 6px
      margin: 30px auto 0
      width: 92px
    +below(md)
      margin-top: 24px

.section-schedule__date-item
  font-size: 36px
  text-align: center
  color: #000
  line-height: 1.25
  +below(xl)
    font-size: calc(36px * 0.8)
  +below(lg)
    font-size: 24px
  +below(md)
    font-size: 20px
  span
    font-weight: 600

.section-schedule__content
  text-align: center
  font-size: 30px
  font-weight: 500
  line-height: 1.6
  text-transform: uppercase
  +below(xl)
    font-size: calc(30px * 0.8)
  +below(lg)
    font-size: 20px
    line-height: 1.25
  +below(md)
    font-size: 18px
    font-weight: 400
